<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    
    <link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/css/dashboard.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- <link rel="stylesheet" href="/css/SS.css"> -->
  </head>
  <body class="xyz">
    <div >
      <!-- <nav><h1 >Student dashboard</h1></nav> -->
      <header class="header">
        <nav class="navbar" >
   
          <h1>Student Dashboard</h1>
    </nav>
    </header>
    </div>

    <!-- <form  action='/questions' method='GET' id="form" class="formValidation" novalidate>
      <label class="control-label" for="name">Upload Questions</label> -->
      <!-- <div class="input-group">
              <div class="input-group-prepend">
                  <div class="input-group-text">
                      <i class="fa fa-user" aria-hidden="true"></i>
                  </div>
              </div>
              <input class="form-control" id="name"  type='image' name='image' placeholder= "image" required></input>
      </div><br> -->

    </form><br>
    <!-- <h1 class="text-center py-3">Question Paper <a  href="/addBooks" class="btn btn-primary"><i class="far fa-plus-square"></i></a></h1>  
    <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> -->
    <div>
      <div class="ab">
      <button type="button" id="video" class="btn">
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        <br />
        Video Conference
      </button>
      <button
        type="button"
        id="forms"
        class="btn"
       onclick="location.href='./form'"
      >
        <i class="fa fa-list-alt" aria-hidden="true"></i>
        <br />
        Google Forms
      </button>
   </div>
   
<nav class="nav2">
  <p class="reg">

    <p id="leave">Leave Class?</p>
    <!-- <!-- <button class="btn1"> -->
    <a id="leave" class="link" href="/logout">Logout</a>
    </button> -->


</p>
</nav>
     
    </div>
  </body>
</html>