
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/SS.css">
</head>
<body>
    <img src="./images/bg-registration-form-1.jpg" alt="">
    <div class="container" id="Main">
  <div class="row">
      <div class="col">

          <div class="container1 ">
              <center>
                  <div class="text-white h1 ">Register Yourself</div><hr>
                            <p class="reg">

                  Already registered?
                  <a class="link" href="/login">Log In</a>
              </p>
              </center>
              <form  action='/register' method='POST' id="form" class="formValidation" nox`validate>
                  <label class="control-label  " for="name">Full name: </label>
                  <div class="input-group">
                          <div class="input-group-prepend">
                              <div class="input-group-text">
                                  <i class="fa fa-user" aria-hidden="true"></i>
                              </div>
                          </div>
                          <input class="form-control" id="name"  type='text' name='name' placeholder= "  Full Name" ></input>
                  </div><br>
                  <label class="control-label" for="aadharNo" >Aadhar No: </label>
                  <div class="input-group">
                          <div class="input-group-prepend">      
                        </div>
                        <input class="form-control" id="aadhar"  type='text' name='aadharNo' placeholder= "  AadharNumber" ></input><div class="input-group-text">
                               
                        <i class="fa fa-user" aria-hidden="true"><button type="button" onclick="AadharValidate()"> check</button> </i>
                        </div>
                        </div><br> 
          <small id="message" class="form-text text-muted"> enter your valid aadhar</small>

        </div>
        
                  <label class="control-label" for="email">Email: </label>
                  <div class="input-group">
                          <div class="input-group-prepend">
                              <div class="input-group-text">
                                  <i class="fa fa-envelope-square aria-hidden=true"></i>
                              </div>
                          </div>
                          <input class="form-control" id="email"  type="email" name="email" placeholder= "  Email" ></input>
                  </div><br>
                  <label class="control-label" for="dob">DOB: </label>
                  <div class="input-group">
                          <div class="input-group-prepend">
                              <div class="input-group-text">
                                  <i class="fa fa-user" aria-hidden="true"></i>
                              </div>
                          </div>
                          <input class="form-control" id="username"  type='date' name='DOB' placeholder= "   DOB" ></input>
                  </div><br>

                  <label class="control-label" for="username">Username: </label>
                  <div class="input-group">
                          <div class="input-group-prepend">
                              <div class="input-group-text">
                                  <i class="fa fa-user" aria-hidden="true"></i>
                              </div>
                          </div>
                          <input class="form-control" id="username"  type='text' name='username' placeholder= "  Username" ></input>
                  </div><br>
                  <label class="control-label" for="password">Password: </label>
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <div class="input-group-text">
                              <i class="fa fa-lock" aria-hidden="true"></i>
                          </div>
                      </div>
                      <input class="form-control" id="password"  type='password' name='password' placeholder="  Password" ></input>
                  </div><br>
                                    <label for="password" class="control-label">Confirm Password:</label>
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <div class="input-group-text">
                              <i class="fa fa-lock" aria-hidden="true"></i>
                          </div>
                      </div>
                      <input class="form-control" id="password"  type='password' name='confirmPassword' placeholder="  Password" ></input>
                  </div><br>
                  <label for="mobileNo" class="control-label">Mobile No: </label>
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <div class="input-group-text">
                              <i class="fa fa-lock" aria-hidden="true"></i>
                          </div>
                      </div>
                      <input class="form-control" id="mobileNo"  type='mobileNo' name='mobileNo' placeholder="  Password" ></input>
                  </div><br>

                  <input type="checkbox" id="vehicle1" name="vehicle1" value="1" class="control-label1">
                     <label for="vehicle1" class="control-label"> I am student </label><br>
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="1" class="control-label1">  
                     <label for="vehicle1 " class="control-label"> I am teacher</label><br>
  
                  <button type="submit" class="btn" id="register" >Register</button>

                 </form><br>

              </p>
          </div>
      </div>
  </div>
</div>

</body>


<script>
  // alert("ghj")
  const form = document.getElementById('form');
  
//   function logSubmit(e) {
//     const aadhar = document.getElementById('aadhar').value;
//     console.log(aadhar, aadhar.length)
//     if(aadhar.trim().length != 12) {
//       alert("Invalid Aadhar");
//       event.preventDefault();
//     }
//   }


 const d = [
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [1, 2, 3, 4, 0, 6, 7, 8, 9, 5],
        [2, 3, 4, 0, 1, 7, 8, 9, 5, 6],
        [3, 4, 0, 1, 2, 8, 9, 5, 6, 7],
        [4, 0, 1, 2, 3, 9, 5, 6, 7, 8],
        [5, 9, 8, 7, 6, 0, 4, 3, 2, 1],
        [6, 5, 9, 8, 7, 1, 0, 4, 3, 2],
        [7, 6, 5, 9, 8, 2, 1, 0, 4, 3],
        [8, 7, 6, 5, 9, 3, 2, 1, 0, 4],
        [9, 8, 7, 6, 5, 4, 3, 2, 1, 0],
      ];

      // permutation table
      const p = [
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [1, 5, 7, 6, 2, 8, 3, 0, 9, 4],
        [5, 8, 0, 3, 7, 9, 6, 1, 4, 2],
        [8, 9, 1, 6, 0, 4, 3, 5, 2, 7],
        [9, 4, 5, 3, 1, 2, 6, 8, 7, 0],
        [4, 2, 8, 6, 5, 7, 3, 9, 0, 1],
        [2, 7, 9, 3, 8, 0, 6, 4, 1, 5],
        [7, 0, 4, 6, 9, 1, 3, 2, 5, 8],
      ];

      // validates Aadhar number received as string
      function validate(aadharNumber) {
        let c = 0;
        let invertedArray = aadharNumber.split("").map(Number).reverse();

        invertedArray.forEach((val, i) => {
          c = d[c][p[i % 8][val]];
        });

        return c === 0;
      }

    //   a= false 
      function AadharValidate() {
        var message = document.getElementById("message");
        var aadharNo = document.getElementById("aadhar").value;
        if(aadharNo==""){
            alert("enter 12 digit unique aadhar number")
event.preventDefault();
        }
        else if (!validate(aadharNo)) {
            
            alert("Your aadhar card not valid");
          event.preventDefault();
        }
        else {
          alert("Your aadhar card no. is valid");
            
        
        }
      }

        form.addEventListener("submit",AadharValidate);
    // form.addEventListener("submit", AadharValidate);

//   form.addEventListener('submit', logSubmit);
</script>
</html>