body {
  background: url("../css/images/bg-registration-form-1.jpg");
  text-align: center;
}
button {
  margin-top: 20%;
  height: 150px;
  padding-left: 120px;
  width: 150px;
}

#video {
  color: white;
  font-size: 15px;
  background-color: #289fbd;
}
#video:hover {
  background-color: #69c8e1;
}
#forms {
  color: white;
  font-size: 15px;

  background-color: #197c94;
}
#forms:hover {
  background-color: #289fbd;
}

nav {
  padding-top: 5px;
  padding-left: 30px;
  padding-bottom: 5px;
  text-align: left;
  background-color: white;
}

h1:hover {
  color: greenyellow;
}
.nav2 {
  background: transparent;
}
.btn1 {
  color: red;
}

p {
  color: white;
  font-size: 30px;
}
a {
  font-size: 30px;
  border: 1px solid white;
}
