body {
  font-family: "Jost", sans-serif;

  background-image: url(../css/images/bg-registration-form-1.jpg);
  float: left;
}
#navbar {
  color: white;
  font-size: large;
  text-align: center;
}
.main {
  margin-top: 200px;
  margin-left: 1500px;
  /* width: 350px;
  height: 500px; */
  background: red;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

label {
  color: #fff;
  font-size: 30px;
  justify-content: center;
  display: flex;
  margin: 160px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
input {
  width: 61%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  border: 1px solid black;
  justify-content: center;
  display: block;
  color: #3bb6d5;
  background: #fff;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: 1px;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  background: #b8e9f5;
}

.control-label {
  margin: 10px;
}
#login {
  color: #fff;
}

.btn {
  color: white;
}
#Login {
  margin-left: 50px;
  color: white;
}
#login {
  margin: 50px;
}
